<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Date</ion-col>

      <ion-col>Heart Rate</ion-col>
      <ion-col>Blood Pressure</ion-col>
      <ion-col>SpO2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>08/07/2023</ion-col>

      <ion-col>60bpm</ion-col>
      <ion-col>120/180mmHg</ion-col>
      <ion-col>91%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>08/07/2023</ion-col>

      <ion-col>83bpm</ion-col>
      <ion-col>110/150mmHg</ion-col>
      <ion-col>95%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>08/07/2023</ion-col>

      <ion-col>74bpm</ion-col>
      <ion-col>127/150mmHg</ion-col>
      <ion-col>89%</ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
